<div class="signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check">
        <%= f.check_box :remember_me, { class: "form-check-input" } %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
    </div>
    <%= render "users/shared/links" %>
  <% end %>
</div>
