<div class="signin sigup">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signin' }) do |f| %>
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <%= render "users/shared/error_messages", resource: resource %>
    <%= f.email_field :email, autofocus: true, class: "mb-1 form-control", placeholder: "Email" %>
    <% if @minimum_password_length %>
      <div class="text-left">
        <em style="text-align: left;">(<%= @minimum_password_length %> characters minimum)</em>
      </div>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "mb-1 form-control", placeholder: "Password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-1 form-control confirmation", placeholder: "Confirmation" %>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
</div>
